.wrapper {
  background-color: var(--color-background);
}

.innerWrapper {
  display: flex;
  align-items: center;
  gap: 48px;
  padding: 16px 32px;
  max-width: calc(1200 / 16 * 1rem);
  margin: 0 auto;
}
