.wrapper {
  background-color: var(--color-background);
}

.innerWrapper {
  display: flex;
  flex: 1;
  align-items: center;
  gap: 48px;
  padding: 16px 32px;
  max-width: calc(1200 / 16 * 1rem);
  margin: 0 auto;
}

.desktoNav {
  display: none;
  margin-left: auto;

  @media (min-width: 60rem) {
    display: revert;
  }
}

.navList {
  display: flex;
  gap: 32px;
}

.navList a {
  color: inherit;
  text-decoration: none;
  font-weight: 475;
}
